---
- name: Add a user
  hosts: all
  gather_facts: false
  vars:
   my_pass: "{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}"
   msg: "{{ my_pass }}"
  tasks:
    - name: Creating user ansible
      win_user:
        name: ansible
        password: "{{ my_pass }}"
        groups: admin append=yes
        state: present