---
- name: Add a user
  hosts: all
  gather_facts: false
  tasks:
    - name: Add User
      win_user:
        name: ansible
        password: "A@ns1bl32"
        groups: Administrators append=yes
        state: present
