---
- hosts: windows
  tasks:
    - name: Test connection
      win_ping:
    - name:
      win_iis_website:
        name: "Test Site"
        application_pool: 'C:/inetpub/wwwroot/ansibletest/'
        ip: 127.0.0.1
        physical_path: 'C:/inetpub/wwwroot/ansibletest/index.html'
        state: started
        port: 8080
    
    - name: Open site's port on firewall
      win_firewall_rule:
        name: tstsite8080
        enable: yes
        state: present
        localport: 8080
        action: Allow
        direction: In
        protocol: Tcp
        force: true
      tags: firewall  