---
- hosts: windows
  vars:
   my_pass: "{{ lookup('password', '/passwordfile chars=ascii_letters,digits,hexdigits,punctuation length=15') }}"

  tasks:
    - name: Test connection
      win_ping:
  
    - name: Creating user
      win_user:
        name: ansible
        password: "{{ my_pass }}"
        groups: 
        - Administrators
        groups_action: add
        state: present