---
- hosts: windows
  vars:
    ansible_site_path: "c:\\inetpub\\wwwroot\\"
    staging_path: "c:\\deploy"
    ansible_test_staging_path: "{{ staging_path }}\\ansible-test-site-{{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}"
  tasks:
  - name: create staging path
    win_file: path={{ staging_path }} state=directory

  - name: default-website-index
    win_copy:
      src: files/index.html
      dest: "C:\\inetpub\\wwwroot\\index.html"

  - name: create new website's directory
    win_file: path={{ ansible_site_path }} state=directory
  - name: create new website
    win_iis_website:
      name: "Ansible Test Site"
      state: started
      port: 8080
      ip: 127.0.0.1
      physical_path: "{{ ansible_site_path }}"
    register: website

  - name: Open site's port on firewall
    win_firewall_rule:
      name: mysite8080
      enable: yes
      state: present
      localport: 8080
      action: Allow
      direction: In
      protocol: Tcp
      force: true
    tags: firewall
