---
- name: Add a user
  hosts: all
  gather_facts: false
  tasks:
    - name: Creating user ansible
      win_user:
        name: ansible
        password: 
        groups: admin append=yes
        state: present
